// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

.row.project-list a {
  color: $gray-dark;
}

.bs-docs-header {
  margin-bottom: 32px !important;
  h1, p {
    margin-right: 0 !important;
  }
}

.bs-docs-footer {
  text-align: left !important;
  padding-top: 20px !important;
}

.page-header {
  margin-top: 0 !important;
}
